[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
sphinx = "*"
black = "*"
numpy = "*"
pillow = "*"
m2r = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
